<%= add_new_event %>
<div class = 'inline_c1'>
	<div class = 'mono_c'>
		<div class = "will_paginate">
			<%= will_paginate %>
		</div>
		<%= event_index_blocks.html_safe %>
		<div class = "will_paginate">
			<%= will_paginate %>
		</div>
	</div>

</div>
